footer.footer
    .container
        .level
            .level-left
                .level-item
                    img.logo.is-large(src='/static/logo/felida-music@2x.png')
            .level-right
                .level-item
                    span.icon.is-large.has-text-primary
                        i.fab.fa-twitter.fa-2x
                    span.icon.is-large.has-text-primary
                        i.fab.fa-facebook.fa-2x
                    span.icon.is-large.has-text-primary
                        i.fab.fa-instagram.fa-2x
                    span.icon.is-large.has-text-primary
                        i.fab.fa-whatsapp.fa-2x
        .divider.has-text-grey-light
        .level
            .level-left
                .level-item.has-text-grey
                    small Share and add the best playlists from the community
            .level-left
                .level-item.has-text-grey
                    small= `Felida Music ${new Date().getFullYear()} | All rights reserved`        