nav.navbar.is-primary
    .container
        .navbar-brand
            span.navbar-item
                img.logo(src='/static/logo/felida-music-white@2x.png')
        .navbar-menu
            .navbar-end
                if userInfo
                    .navbar-item
                        a.has-text-white(href='/playlists') Playlists
                .navbar-item
                    a.button.is-dark(href=`${userInfo ? '/logout' : '/login'}`)
                        span.icon
                            i.fab.fa-spotify
                        span= `${userInfo ? 'Log out' : 'Log in'}`