nav.navbar.is-primary
    .container
        .navbar-brand
            span.navbar-item
                img.logo(src='/static/logo/felida-music-white@2x.png')
        .navbar-menu
            .navbar-end
                .navbar-item

                    a.button.is-dark
                        span.icon
                            i.fab.fa-spotify
                        span Login